.board-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#board {
    --board-size: 80vh;
    width: var(--board-size);
    height: var(--board-size);
    display: flex;
    flex-wrap: wrap;
    outline: 5px black solid;
}

.square {
    --square-size: 10vh;
    width: var(--square-size);
    height: var(--square-size);
    text-align: center;
    line-height: var(--square-size);
    font-size: 7.5vh;
}

.black {
    color: black;
}

.white {
    color: white;
}

.available-move {
    background: rgb(173, 255, 47) !important;
    border: 2px black solid;
}

.light {
    background: rgb(215, 235, 243);
}

.dark {
    background: rgb(107, 65, 3);
}
